.botao{
    position: relative;
    top: 4em;
    font-size:1.4em;
    color:white;
    background-color: green;
    height: 2.5em;
    border: 0PX;
    border-radius: 3px;
    width: 7em;
    margin-bottom: 8em;
}

.fileira-bloco .material-icons{
    font-size: 2.5em;
}
#linha{
    display:table;
    top:3em;
    position: relative;
}

hr{
    width: 25%;
}

.fileira-img{

        width: 18em;
        box-shadow: 5px 5px 5px black;
        height: 26em;
        transition-duration: 0.9s;
    
}
.fileira-img:hover{
transform:scale(1.2);
box-shadow: 10px 7px 5px black;
}
.fileira-titulo{
    font-family: 'Montserrat' ;

}
