#login{
position: relative;
top:4em;

}
a{
    text-decoration: none;
    color:inherit;
}
#cadastro{
    color:white;
    background-color: blue;
    width: 35%;
}
#login-button{
    width: 100%;
}
#senha{
    width: 35%;
    background-color: red;

}
